/* Tokens */

:root {
  --motion-ease-default: ease-in-out;
  --motion-duration-entrance: 300ms;
}

/* Keyframes animations */

@keyframes header-items {
  0% {
    transform: scale(95%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes header-label {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes page {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: unset;
    opacity: 1;
  }
}

@keyframes entrance {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Entrances classes */

.page-entrance {
  animation-duration: var(--motion-duration-entrance);
  animation-name: page;
  animation-timing-function: var(--motion-ease-default);
  z-index: 0;
}

.motion-entrance {
  animation-duration: var(--motion-duration-entrance);
  animation-name: entrance;
  animation-timing-function: var(--motion-ease-default);
  animation-fill-mode: backwards;
}

.motion-delay-100 {
  animation-delay: 100ms;
}

.motion-delay-200 {
  animation-delay: 200ms;
}

.motion-delay-300 {
  animation-delay: 300ms;
}

.motion-delay-400 {
  animation-delay: 400ms;
}

.motion-delay-500 {
  animation-delay: 500ms;
}

.motion-delay-600 {
  animation-delay: 600ms;
}

.motion-delay-700 {
  animation-delay: 700ms;
}

.motion-delay-800 {
  animation-delay: 800ms;
}

.motion-delay-900 {
  animation-delay: 900ms;
}

.motion-delay-1000 {
  animation-delay: 1000ms;
}
