@import "fonts";

/* Base tokens */
:root {
  --color-gray-0: #fbfaf9;
  --color-gray-50: #e7e6e3;
  --color-gray-100: #d2d1d0;
  --color-gray-200: #a7a6a5;
  --color-gray-300: #7e7d7b;
  --color-gray-400: #5a5a58;
  --color-gray-500: #3f3f3d;
  --color-gray-600: #2b2c2a;
  --color-gray-700: #1d1e1c;
  --color-gray-800: #141513;
  --color-gray-900: #0e110e;

  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-05: 4px;
  --spacing-1: 8px;
  --spacing-15: 12px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;

  --typography-font-family-display: "Panamera";
  --typography-font-family: "Fraunces";

  --motion-ease-default: ease;
}
