:root {
    --color-gray-0: #FBFAF9;
    --color-gray-50: #E7E6E3;
    --color-gray-100: #D2D1D0;
    --color-gray-200: #A7A6A5;
    --color-gray-300: #7E7D7B;
    --color-gray-400: #5A5A58;
    --color-gray-500: #3F3F3D;
    --color-gray-600: #2B2C2A;
    --color-gray-700: #1D1E1C;
    --color-gray-800: #141513;
    --color-gray-900: #0E110E;

    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-05: 4px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-8: 64px;
    --spacing-9: 72px;
    --spacing-10: 80px;
}

