@import "fonts";

/* Base tokens */
:root {
  --color-gray-0: #f9f8ec;
  --color-gray-50: #e9e8dd;
  --color-gray-100: #d9d8ce;
  --color-gray-200: #aaaaa1;
  --color-gray-300: #7b7a6f;
  --color-gray-400: #68685f;
  --color-gray-500: #3a3a36;
  --color-gray-600: #282824;
  --color-gray-700: #22221e;
  --color-gray-800: #111110;
  --color-gray-900: #0b0b0a;

  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-05: 4px;
  --spacing-1: 8px;
  --spacing-15: 12px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-9: 72px;
  --spacing-10: 80px;

  --typography-font-family-display: "Literata";
  --typography-font-family: "Uncut Sans";
  --typography-font-family-fallback: "Georgia Fallback";
  --typography-font-family-display-fallback: "Arial Fallback";
}
