@font-face {
  font-family: "Readex Pro";
  src: url(../public/fonts/ReadexPro.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Cabin";
  src: url(../public/fonts/Cabin.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Lexend";
  src: url(../public/fonts/Lexend.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Uncut Sans";
  src: url(../public/fonts/Uncut-Sans-Variable.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Fraunces";
  src: url(../public/fonts/Fraunces.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Fraunces Italic";
  src: url(../public/fonts/Fraunces-Italic.woff2);
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: "Panamera";
  src: url(../public/fonts/Panamera-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Georgia Fallback";
  src: local("Georgia");
  size-adjust: 107%;
}

@font-face {
  font-family: "Arial Fallback";
  src: local("Arial");
  size-adjust: 102%;
}
