@font-face {
  font-family: Uncut Sans;
  src: url(../public/fonts/Uncut-Sans-Variable.woff2);
  font-weight: 100 900;
  font-display: optional;
}

@font-face {
  font-family: Fraunces;
  src: url(../public/fonts/Fraunces.woff2);
  font-weight: 100 900;
  font-display: optional;
}

@font-face {
  font-family: Fraunces Italic;
  src: url(../public/fonts/Fraunces-Italic.woff2);
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
}

@font-face {
  font-family: Panamera;
  src: url(../public/fonts/Panamera-Regular.woff2);
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: "Georgia Fallback";
  src: local("Georgia");
  size-adjust: 107%;
}

@font-face {
  font-family: "Arial Fallback";
  src: local("Arial");
  size-adjust: 102%;
}
