@font-face {
  font-family: "Readex Pro";
  src: url(../public/fonts/ReadexPro.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Basteleur Moonlight";
  src: url(../public/fonts/Basteleur-Moonlight.woff2);
}

@font-face {
  font-family: "Basteleur Bold";
  src: url(../public/fonts/Basteleur-Bold.woff2);
}

@font-face {
  font-family: "Mona";
  src: url(../public/fonts/Mona-Sans.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Martian";
  src: url(../public/fonts/MartianMono.ttf);
  font-weight: 100 900;
}

@font-face {
  font-family: "Cabin";
  src: url(../public/fonts/Cabin.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Uncut Sans";
  src: url(../public/fonts/Uncut-Sans-Variable.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Fraunces";
  font-style: normal;
  src: url(../public/fonts/Fraunces.woff2);
  font-weight: 100 900;
}

@font-face {
  font-family: "Fraunces";
  src: url(../public/fonts/Fraunces-Italic.woff2);
  font-style: italic;
  font-weight: 100 900;
}

@font-face {
  font-family: "Georgia Fallback";
  src: local("Georgia");
  size-adjust: 107%;
}

@font-face {
  font-family: "Arial Fallback";
  src: local("Arial");
  size-adjust: 102%;
}
