@import "accessibility";
@import "animation";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Container */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: 960px) {
    padding: 0 40px;
  }
}

body {
  color: var(--color-text-default);
  background: var(--color-background-default);
  font-family: var(--typography-font-family),
    var(--typography-font-family-fallback), -apple-system, sans-serif;
  font-feature-settings: "ss02" on, "ss03" on, "ss06" on, "ss08" on;
  font-size: var(--typography-body-size);
  line-height: var(--typography-body-lh);
  font-weight: var(--typography-body-weight);
}

.header-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: var(--spacing-3);
  left: var(--spacing-3);
  right: var(--spacing-3);
  z-index: 999;
}

header {
  transition: transform 50ms var(--motion-ease-default);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  padding: var(--spacing-15) var(--spacing-15);
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  background: var(--color-background-translucid);
  background-size: 400% 400%;
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 1px 0px;
  border: 1px solid var(--color-background-border);
  animation: gradient 5s linear infinite;
  overflow: hidden;
}

header:hover {
  transform: translate(0px, 0px) !important;
  transition: transform 300ms var(--motion-ease-default);
}

@media screen and (max-width: 800px) {
  header {
    width: 100%;
  }
  .logo {
    display: none;
  }
  .menu {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  .menu a {
    padding: var(--spacing-15) var(--spacing-2) !important;
    flex: 1;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
}

.menu a {
  position: relative;
  padding: var(--spacing-15) var(--spacing-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
}

.menu a svg {
  fill: currentColor;
}

.menu > *:hover:not(.active) {
  position: relative;
}

.menu a:focus-visible:not(.active a) {
  background: var(--color-background-subdued);
}

.menu > *:hover:not(.active)::before {
  background: var(--color-background-default);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 200ms;
  animation-name: header-items;
  animation-timing-function: var(--motion-ease-default);
}

.menu .active {
  color: var(--color-text-inverse-default);
  position: relative;
}

.menu .active::before {
  position: absolute;
  content: "";
  background: var(--color-background-inverse-default);
  width: 100%;
  height: 100%;
  animation-duration: 200ms;
  animation-name: header-items;
  animation-timing-function: var(--motion-ease-default);
  -webkit-animation-fill-mode: forwards;
}

.menu > *:hover:not(.active) .label {
  animation-duration: 400ms;
  animation-name: header-label;
  animation-timing-function: var(--motion-ease-default);
  -webkit-animation-fill-mode: forwards;
}

.menu a:focus-visible .label {
  animation-duration: 400ms;
  animation-name: header-label;
  animation-timing-function: var(--motion-ease-default);
  -webkit-animation-fill-mode: forwards;
}

.skip-to-content-link {
  background: var(--color-background-default);
  width: inherit;
  position: absolute;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 200ms var(--motion-ease-default);
  transform: translateY(-100%);
  opacity: 0;
  z-index: -1;
}

.skip-to-content-link:focus-visible {
  transform: translateY(0%);
  opacity: 1;
  z-index: 1;
}

.skip-to-content-link:focus-visible .label {
  animation-delay: 150ms;
  animation-duration: 400ms;
  animation-name: header-label;
  animation-timing-function: var(--motion-ease-default);
  -webkit-animation-fill-mode: forwards;
}

.logo {
  height: 48px;
  width: 144px;
  overflow: hidden;
}

.logo svg {
  width: 144px;
  height: 48px;
}

.polka {
  box-shadow: inset 0 -80px 200px -100px var(--color-background-default);
  background-image: radial-gradient(
    var(--color-background-border),
    1px,
    transparent 0
  );
  background-size: 32px 32px;
  height: 700px;
  // -webkit-animation-fill-mode: forwards;
  animation-duration: 700s;
  animation-name: polka;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 188px;
  gap: 0px;

  h1 {
    font-weight: 700;
    font-size: 72px;
    color: var(--color-text-default);
    margin-bottom: 0px;
    line-height: 1em;
    margin-top: 0;
  }
  .hero-description {
    font-family: var(--typography-font-family);
    font-size: 21px;
    line-height: 1.25em;
    color: var(--color-text-default);
    max-width: 600px;
    margin-bottom: 40px;
  }
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.handler {
  position: absolute;
  content: "";
  background: var(--color-background-default);
  border: 1px solid var(--color-text-default);
}

.left-top {
  left: -6px;
  top: -6px;
  width: 12px;
  height: 12px;
}

.left-bottom {
  left: -6px;
  bottom: -6px;
  width: 12px;
  height: 12px;
}

.right-top {
  right: -6px;
  top: -6px;
  width: 12px;
  height: 12px;
}

.right-bottom {
  right: -6px;
  bottom: -6px;
  width: 12px;
  height: 12px;
}

.indent-negative {
  margin-right: 80px;
}

.indent-positive {
  margin-left: 80px;
  text-align: right;
}

.system-bar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
  color: var(--color-text-subdued);
  background: linear-gradient(rgba(14, 17, 14, 1) 40%, rgba(14, 17, 14, 0));
  height: 120px;
  z-index: 1;
  padding: 24px 0;
}

.flexbox {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.button {
  padding: 16px 32px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0px;
  font-family: var(--typography-font-family);
  font-feature-settings: "ss02" on, "ss03" on, "ss06" on, "ss08" on;
  font-size: var(--typography-body-size);
  line-height: var(--typography-body-lh);
  transition: all 300ms ease;
  background: var(--color-background-inverse-default);
  color: var(--color-text-inverse-default);
  position: relative;
}

.button:hover {
  transform: scale(1.025);
}

.button:hover > .button-label {
  animation-duration: 300ms;
  animation-name: header-label;
  animation-timing-function: var(--motion-ease-default);
  -webkit-animation-fill-mode: forwards;
}

.primary {
  background: var(--color-identity-yellow);
}

.button:hover:before {
  content: "";
  position: absolute;
  background: inherit;
  opacity: 30%;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  z-index: -2;
  animation-duration: 200ms;
  animation-name: header-items;
  animation-timing-function: var(--motion-ease-default);
  -webkit-animation-fill-mode: forwards;
}

.button:hover:after {
  content: "";
  position: absolute;
  background: inherit;
  opacity: 20%;
  filter: blur(10px);
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -2;
  animation-duration: 500ms;
  animation-name: header-items;
  animation-timing-function: var(--motion-ease-default);
  -webkit-animation-fill-mode: forwards;
}
