@import "base";

:root {
    --color-identity-blue: #1379BC;
    --color-identity-yellow: #EA9325;
    --color-identity-green: #148F74;
    --color-identity-black: #0E120D;

    --color-background-default: var(--color-gray-0);
    --color-text-default: var(--color-gray-900);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-identity-blue: #1379BC;
        --color-identity-yellow: #EA9325;
        --color-identity-green: #148F74;
        --color-identity-black: #0E120D;

        --color-background-default: var(--color-gray-900);
        --color-text-default: var(--color-gray-0);
    }
}