@import "base";

/* Functional design tokens */
:root {
  --color-identity-blue: #1379bc;
  --color-identity-yellow: #ea9325;
  --color-identity-green: #148f74;
  --color-identity-black: #0e120d;

  --color-background-default: var(--color-gray-0);
  --color-background-hover: var(--color-gray-50);
  --color-background-subdued: var(--color-gray-100);
  --color-background-border: var(--color-gray-200);
  --color-background-inverse-default: var(--color-gray-900);
  --color-background-inverse-hover: var(--color-gray-800);
  --color-background-translucid: linear-gradient(
    -45deg,
    rgba(10, 10, 10, 0.2),
    rgba(80, 80, 80, 0.2),
    rgba(20, 20, 20, 0.2)
  );

  --color-text-default: var(--color-gray-900);
  --color-text-subdued: var(--color-gray-800);
  --color-text-inverse-default: var(--color-gray-0);

  --typography-body-size: 18px;
  --typography-body-lh: 24px;
  --typography-body-weight: 400;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-identity-blue: #1379bc;
    --color-identity-yellow: #ea9325;
    --color-identity-green: #148f74;
    --color-identity-black: #0e120d;

    --color-background-default: var(--color-gray-900);
    --color-background-hover: var(--color-gray-800);
    --color-background-subdued: var(--color-gray-800);
    --color-background-border: var(--color-gray-500);
    --color-background-inverse-default: var(--color-gray-0);
    --color-background-inverse-hover: var(--color-gray-50);

    --color-text-default: var(--color-gray-0);
    --color-text-subdued: var(--color-gray-300);
    --color-text-inverse-default: var(--color-gray-900);
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typography-font-family-display);
  // font-variation-settings: "wdth" 125;
  font-variation-settings: "opsz" 7;
  letter-spacing: -0.025em;
}

p {
  font-family: var(--typography-font-family),
    var(--typography-font-family-fallback), -apple-system, sans-serif;
  font-feature-settings: "ss02" on, "ss03" on, "ss06" on, "ss08" on;
}
