@import "base";

/* Functional design tokens */
:root {
  --color-identity-blue: #1379bc;
  --color-identity-yellow: #ea9325;
  --color-identity-green: #148f74;
  --color-identity-black: #0e120d;

  --color-background-default: var(--color-gray-0);
  --color-text-default: var(--color-gray-900);

  --typography-body-size: 18px;
  --typography-body-lh: 24px;
  --typography-body-weight: 400;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-identity-blue: #1379bc;
    --color-identity-yellow: #ea9325;
    --color-identity-green: #148f74;
    --color-identity-black: #0e120d;

    --color-background-default: var(--color-gray-900);
    --color-text-default: var(--color-gray-0);
  }
}
